.chat-bubble {
    word-wrap: break-word;
    padding: 10px;
    border-radius: 12px;
    margin-bottom: 10px;
    max-width: 70%;
}

.user-bubble {
    align-self: flex-end;
    background-color: #3ea6ff;
    color: #fff;
}

.ai-bubble {
    align-self: flex-start;
    background-color: #444;
    color: #fff;
}
